.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.login_heading {
  font-size: 5em;
  font-family: 'Arial', sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #ff4500, 4px 4px 0 #ff8100, 6px 6px 0 #ffbe00;
  transform: perspective(200px) rotateX(20deg);
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 250px; /* Adjust the logo size as needed */
  margin-bottom: 10px;
}


.custom-card {
  box-shadow: 5px 8px 100px 5px rgba(7, 7, 8, 0.6); /* Adjust the values as needed */
  transition: box-shadow 0.3s ease-in-out; /* Optional: Add a smooth transition effect */
  background-color: white
}