.centered-card {
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
    width: 350px;
    background-color: aqua;
  }

  .centered-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .centered-content {
    text-align: left; /* Adjust text alignment within the Space component */
  }

  .logo {
    max-width: 250px; /* Set the maximum width for your logo */
    display: block; /* Center the logo horizontally */
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .custom-card {
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
    width: 380px;
    background: #f7f7f8; /* Adjust the alpha value to control the darkness of the background */
    padding: 15px; /* Add some padding to separate the content from the background */
  }

  .large-tag {
    font-size: 14px; /* Increase the font size to make it larger */
    padding: 3px 7px; /* Adjust padding for a larger tag */
    /* You can customize other styles as needed */
  }
  .medium-tag {
    font-size: 14px; /* Adjust the font size for a medium-sized tag */
    padding: 3px 6px; /* Adjust padding for a medium-sized tag */
    /* You can customize other styles as needed */
  }