/* Default styles for screens wider than 768px (adjust as needed) */
.centered-card {
  text-align: center;
  margin: 0 auto;
  margin-top: 120px;
  width: 340px;
  background-color: rgb(31, 66, 66);
}

.centered-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.centered-content {
  text-align: left;
}

.logo {
  max-width: 240px;
  display: block;
  margin: 0 auto;
  height: auto;
  margin-bottom: 20px;
}

.body {
  background: linear-gradient(to right, #468CC1, #3EAB94);
}

.custom-card {
  text-align: center;
  margin: 0 auto;
  margin-top: 120px;
  width: 325px;
  background: #f7f7f8;
  padding: 15px;
}

.large-tag {
  font-size: 14px;
  padding: 3px 7px;
}

.medium-tag {
  font-size: 14px;
  padding: 3px 6px;
}

/* Media query for screens narrower than 768px */
@media (max-width: 768px) {
  .centered-card {
    width: 100%; /* Make the card full width on smaller screens */
    margin-top: 60px; /* Adjust the top margin */
  }

  .custom-card {
    width: 100%; /* Make the custom card full width on smaller screens */
    margin-top: 60px; /* Adjust the top margin */
  }
}